@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

:root {
    --azul: #0071ED;
    --vermelho: #F64141;
    --vermelho-transp: #f64141b7;
    --amarelo: #FFD600;
    --backgroud: rgb(246, 246, 234);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroud)
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f9f9f9;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cccccc;
}

/* Scroll-Snap */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    transition: scroll-snap-align 2s ease;
}


/* Menu */
.container-header {
    display: flex;
    align-items: center;
    position: fixed;
    margin: 20px 70px 20px 40px;
    z-index: 1;

    /*para o menu dropdown do sobre não ficar escondido*/
    width: 100%;
    overflow: visible;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-right: 70px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

nav ul li:last-child a {
    margin-right: 5px;
}

/*Menu dropdown*/
.dropdown {
    cursor: pointer;
}

.dropdown summary {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown details p {
    padding: 1rem;
    display: inline;
    position: absolute;
}

.dropdown details p a {
    padding: 0 5px;
}

.dropdown summary::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: url('../img/arrow-black.svg');
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
    transition: all 400ms ease-in-out;

}

.dropdown details[open]>summary::after {
    transform: rotate(180deg);
}

/* Mobile-Menu */
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Conteúdo do site */
.container-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-content .picture {
    max-width: 50%;
}

.picture img {
    max-width: 100%;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    margin-right: auto;
    font-size: 40px;
    width: fit-content;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 0px 4px 4px #0000004d;
}

.info .description {
    font-family: 'Karma', sans-serif;
    width: 500px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
    text-indent: 3rem;
}

.info a {
    text-decoration: none;
    margin-left: 10px;
    color: #000;
}

/* css do carrosel */
.slider {
    position: relative;
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;

}

.slides {
    display: flex;
    align-items: center;
    width: 500%;
    height: 100vh;
    display: flex;

}

.slides input {
    display: none;

}

/* Utilezem a class slide para customizar as tags h1, p ou img. Exemplo: .slide h1 | .slide p | .slide img */
.slide {
    width: 20%;
    padding: 20px;
    transition: 2s;
    text-align: justify;
}

/* css para a navegação manual e automatico */
.navigation-manual,
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
}

.manual-btn,
.navigation-auto div {
    border: 2px solid rgba(0, 0, 0, 0.421);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child),
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover,
.navigation-auto div:hover {
    background: #000;
}

#radio1:checked~.first {
    margin-left: 0;

}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #000;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #000;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #000;
}

/* Botões */
.info .btn {
    width: 159px;
    height: 49px;
    border-radius: 32px;
    background-color: var(--vermelho);
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.info .btn-download {
    background-color: var(--azul);
    width: 159px;
    height: 49px;
    border-radius: 32px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

/*"Grid" dos serviços*/
.slide.first {
    position: relative;
}

.slide.first h1 {
    position: absolute;
    top: 0;
    left: 5%;
    background-color: white;
}

.fakegrid {
    display: flex;
    border: 1px solid var(--azul);
    padding: 1rem;
    width: fit-content;
}

.fakegrid .left-side,
.fakegrid .right-side {
    text-align: center;
}

.fakegrid .left-side p,
.fakegrid .right-side p,
.fakegrid .left-side img,
.fakegrid .right-side img {
    margin-top: 1rem;
}

.fakegrid .left-side,
.fakegrid .right-side {
    padding-left: 4rem;
    padding-right: 3rem;
}

.fakegrid img {
    width: 60px;
    border-radius: 50%;
}

.slide2 {
    width: 38.125rem;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

.slide2 .title {
    margin-bottom: 1rem;

}

.method-title {
    text-indent: 3rem;
}

.method-number {
    background-color: #FF4646;
    width: 1.875rem;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    z-index: 0;
}

.items-div {
    display: flex;
    align-items: center;
    width: fit-content;
}


.method-info {
    width: fit-content;
    max-width: 37.5rem;
    height: 5rem;
}


.div-textos {
    margin-left: 1.5rem;
}


.div-numeros {
    z-index: 0;
    position: absolute;
    margin-left: 0.5rem;
}

#circle {
    background-color: #FF4646;
    text-align: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

#circle-text {
    line-height: 7.5rem;
}

.detail {
    display: inline-block;

}

.detail-text {
    width: 12.5rem;
    text-align: center;
}

.detail-img {
    border-radius: 50%;
}

.top-left {
    align-items: end;

}

.top-right {
    float: right;
}

.mobile-menu {
    z-index: 1;
}

/*form*/
.form-container {
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(156, 156, 156, 0.12);
    background-color: rgb(246, 246, 234);
}

.form-img {
    display: none;
}

.form-box {
    width: 90%;
    display: flex;
    margin-top: 2rem;
    padding: 0 1rem 0 3rem;
}

.form-box form {
    width: 100%;
}

.form-header h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.slide-form {
    padding: .75rem;
    overflow-y: scroll;
    height: 55%;
}

#nivel-ingles {
    display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: .75rem;
}

.input-group input {
    margin: .75rem .15rem;
    padding: .6rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #0000001c;
    background-color: rgb(250, 250, 247);
}

.input-text textarea {
    box-shadow: 1px 1px 5px 1px #0000001c;
    padding: 0.7rem;
    outline: none;
    border-radius: 5px;
    border: none;
    resize: none;
    margin: 0.4rem 0.2rem 0;
    width: 90%;
    height: 5rem;
    background-color: rgb(250, 250, 247);
}

.obs-input {
    display: flex;
    flex-direction: column;
    margin-top: .75em;
}

.input-box input:hover,
.input-text textarea:hover {
    background-color: #d8d8d875;
}

.input-box input:focus-visible,
.input-text textarea:focus-visible {
    outline: 1px solid #495BFB;
}

.input-group label,
.options-group h3 {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.3rem 0;
    margin-top: 0.4rem;
}

.options-group a {
    color: var(--vermelho);
    transition: 0.3s;
}

.options-group a:hover {
    color: var(--vermelho-transp);
}

.options-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.options-input {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
}

.options-input input {
    margin-right: 0.35rem;
}

.options-input label {
    font-size: 0.8rem;
}

.btn-form {
    display: flex;
    margin: 1rem 0;
    justify-content: space-evenly;
    flex-direction: column;
    gap: .75rem;
    width: 107%;
}

.back-btn,
.submit-btn {
    display: none;
}

.btn-form button {
    width: 90%;
    padding: 1em .75em;
    margin: 0 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn {
    background: linear-gradient(265deg, #0000 20%, var(--vermelho-transp) 90%);
    background-color: #ff8c00;
    transition: .75s ease-in;
}

.back-btn,
.next-btn {
    background-color: var(--vermelho);
}

.btn-form button:hover {
    background-color: var(--vermelho-transp);
}

#slide-form-2,
#slide-form-3,
#slide-form-4,
#slide-form-5 {
    display: none;
}

.goforward {
    animation: slideNext .75s forwards;
}

.goback {
    animation: slideBack .75s forwards;
}

@keyframes slideNext {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideBack {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
}

.step-form {
    width: 15px;
    height: 15px;
    background-color: #e3e3e3;
    border-radius: 50%;
    transition: 0.5s ease-in;
    z-index: 1;
}

.steps::before,
#progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e3e3e3;
    height: 3px;
    width: 100%;
    transition: 0.7s;
}

.step-form.active {
    background-color: var(--azul);
}

#progress {
    background-color: var(--azul);
    width: 0%;
    border: 0;
    transition: 0.7s;
}

@media screen and (min-width: 1200px) {
    .form-container {
        width: 55vw;
        height: 70vh;
    }

    .form-img {
        display: flex;
        width: 29%;
    }

    .form-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 0%;
    }

    .form-box {
        width: 71%;
        flex-direction: row;
    }

    .input-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    }

    .obs-input {
        display: flex;
        flex-direction: column;
    }

    .options-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .slide-form {
        height: 65%;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 70vw;
    }

    .btn-form {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .btn-form button {
        width: 40%;
    }
}

/*SOBRE*/
#about .picture {
    max-width: 40%;
}

#about p {
    padding-top: 15px;
    font-size: large;
}

#about span {
    font-weight: 700;
}

/*FAQ*/
#faq h1 {
    width: 100%;
    text-align: center;
}

.faq-container {
    display: block;
    width: 70%;
}

.faq-box {
    padding: 2rem;
    margin: 1rem;
    background-color: var(--backgroud);
}

.pergunta summary {
    list-style: none;
    color: var(--azul);
    font-size: x-large;
    font-weight: 700;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.resposta {
    font-size: large;
    padding: 0 2rem;
}

.faq-box summary::after {
    content: '';
    width: 1rem;
    height: 1rem;
    background: url('../img/arrow.svg');
    background-size: cover;
    margin-left: .75em;
    transition: 0.2s;
    transition: all 400ms ease-in-out;

}

.faq-box details[open] {
    display: block;
}

.faq-box details[open]>summary::after {
    transform: rotate(180deg);


}


/* Telas menores */
@media screen and (max-width: 768px) {
    .container-header {
        width: 100%;
    }

    nav {
        width: 80%;
    }

    .container-content {
        height: 100vh;
        justify-content: center;
    }

    .navigation-manual,
    .navigation-auto {
        width: 100%;

    }

    .container-content .picture {
        display: none;
    }

    .info .title {
        max-width: 80vw;
    }

    .info .description {
        max-width: 80vw;
    }

    .info .btn {
        margin-bottom: 40px;
    }

    #sub-title-background {
        font-size: 18px;
        width: fit-content;
        max-width: 24vw;
        display: inline-block;
    }

    #second-title {
        font-size: 1.125rem;
        max-width: 80vw;
        line-height: 1.25rem;
        display: inline-block;
    }

    .method-title {
        font-size: 0.938rem;
        text-align: center;
        width: fit-content;
    }

    .div-numeros {
        padding-left: 0.438rem;
    }

    .method-number {
        font-size: 0.875rem;
        text-align: center;
        justify-content: center;
        width: 1.125rem
    }

    .div-textos {
        width: fit-content;
        max-width: 34.125rem;
        height: fit-content;
        max-height: 25rem;
    }

    .method-info {
        font-size: 0.875rem;

    }

    #circle {
        width: 4.375rem;
        height: 4.375rem;
        margin-left: auto;
        margin-right: auto;
    }

    #circle-text {
        font-size: 1.125rem;
        line-height: 4.375rem;
    }

    .detail-text {
        font-size: 1rem;
        max-width: 9.375;
        text-align: center;
        
    }

    .corner1 {
        margin-top: 0.9rem;
    }
}

@media screen and (max-width: 635px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    nav ul li {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        border-radius: 5px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-color: #c6c6cc;
        outline: none;
    }

    .mobile-menu-icon img {
        pointer-events: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        padding: 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .close-icon-container button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    .close-icon-container button:hover {
        background-color: transparent;
    }

    .close-icon-container img {
        pointer-events: none;
        border-radius: 5px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mobile-menu .nav-item {
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 586px) {
    #sub-title-background {
        font-size: 0.875;
        width: fit-content;
        max-width: 10.313rem;
        display: inline-block;
    }

    #second-title {
        font-size: 0.75rem;
        max-width: 11.25rem;
        line-height: 1.25rem;
        display: inline-block;
    }

    .div-textos {
        width: fit-content;
        max-width: 31.25rem;
        height: fit-content;
        max-height: 25rem;
    }

    .method-info {
        font-size: 0.875rem;
        height: 6rem;
        max-width: 28.5rem;
    }

    .detail-text {
        font-size: 0.875rem;
        max-width: 7.5rem;
        text-align: center;
        
    }

    .corner1 {
        margin-top: 0.9rem;
    }
    
}

@media screen and (max-width:550px) {

    .slide2 {
        margin-top: 4rem;
    }
    .div-textos .method-info {
        font-size: 0.938rem;
    }
    .div-textos {
        width: 30rem;
    }
}

@media screen and (max-width: 515px) {

    #who .description {
        font-size: 15px;
    }
    .slide.first .fakegrid {
        width: 410px;
    }
    .slide.first .title {
        font-size: 30px;
        margin-top: 2rem;
    }
    .slide.first .fakegrid {
        margin-top: 2rem;
    }

    .div-textos {
        width: 25.225rem;
    }

    .slide2 .title {
        font-size: 1.563rem;
    }
    .slide2 .sub-title{
        font-size: 0.938rem;
    }
    #sub-title-background {
        width: 12.5rem;
    }
}

@media screen and (max-width: 458px) {
    .slide.first .fakegrid {
        width: 370px;
    }
    .slide.first .title {
        font-size: 30px;
        margin-top: 2rem;
    }
    .slide.first .fakegrid {
        margin-top: 2rem;
    }

    .slide.first .fakegrid .left-side,
    .slide.first .fakegrid .right-side {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .slide.first .fakegrid img {
        width: 60px;
    }
    .slide.first .fakegrid p {
        font-size: 12px;
    }

    .div-textos {
        width: 21.875rem;
        font-size: 0.625rem;
    }

    .slide2 {
        margin-top: 6rem;
    }
}
/* Responsividade 425px*/
@media screen and (max-width: 426px) {
    .slide.first {
        margin-top: 4rem;
    }
    .info .title {
        margin-top: 5.5rem;
    }
    .info .description {
        margin-bottom: 0;
        font-size: 18px;
    }
    
    .slide.first .title {
        font-size: 35px;
    }

    .fakegrid .left-side,
    .fakegrid .right-side {
    padding-left: 2rem;
    padding-right: 1rem;
    }

    .slide2 {
        width: fit-content;
        max-width: 26.563rem;
        height: fit-content;
    }

    .items-div {
        width: 20rem;
    }

    .method-info {
        height: 7rem;
    }

    .sub-title {
        display: inline-block;
    }

    #sub-title-background {
        font-size: 0.875rem;
        width: fit-content;
        max-width: 11.25rem;
        display: inline-block;
    }

    #second-title {
        font-size: 0.75rem;
        max-width: 11.25rem;
        line-height: 1.25rem;
        display: inline-block;
    }

    .slide3 {
        height: fit-content;
        max-width: 26.563rem;
        margin-left: auto;
        margin-right: auto;
    }

    #circle {
        width: 4.375rem;
        height: 4.375rem;
        margin-left: auto;
        margin-right: auto;
    }

    #circle-text {
        font-size: 1.125rem;
        line-height: 4.375rem;
    }

    .detail-text {
        font-size: 0.75rem;
        max-width: 6.25rem;
        text-align: center;
        
    }

    .top-left {
        align-items: end;
    }

    .top-right {
        float: right;
    }

    .corner1 {
        margin-top: 0.9rem;
    }
}

@media  screen and (max-width: 390px) {
        .slide.first .fakegrid {
        width: 370px;
    }
    .slide.first .title {
        font-size: 30px;
        margin-top: 2rem;
    }
    .slide.first .fakegrid {
        margin-top: 2rem;
    }

    .slide.first .fakegrid .left-side,
    .slide.first .fakegrid .right-side {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .slide.first .fakegrid img {
        width: 60px;
    }
    .slide.first .fakegrid p {
        font-size: 12px;
    }

    .div-textos {
        width: 18rem;
        font-size: 0.625rem;
    }

    .slide2 {
        margin-top: 6rem;
    }
}    

/* 375px */
@media screen and (max-width: 376px) {
    .fakegrid .left-side,
    .fakegrid .right-side {
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    }

    .slide.first .title {
        font-size: 22px;
    }
    .slide2 {
        width: fit-content;
        max-width: 23.438rem;
        height: fit-content;
        max-height: 234.375rem;
        gap: 1rem;
    }
    
    .title {
        font-size: 24px;
    }

    .sub-title {
        display: inline-block;
    }

    #sub-title-background {
        font-size: 13px;
        width: fit-content;
        max-width: 8.75rem;
        display: inline-block;
    }

    #second-title {
        font-size: 10px;
        max-width: 10rem;
        line-height: 1rem;
        display: inline-block;
    }

    .method-title {
        font-size: 15px;
        text-align: center;
        width: fit-content;
    }

    .div-numeros {
        padding-left:0.438rem;
    }

    .method-number {
        font-size: 14px;
        text-align: center;
        justify-content: center;
        width: 1.125rem;
    }

    .div-textos {
        width: fit-content;
        max-width: 18.75rem;
        height: fit-content;
        max-height: 25rem;
    }

    .method-info {
        font-size: 12px;
        width: 17rem;
    }

    .slide3 {
        height: fit-content;
        max-width: 26.563rem;
        margin-left: auto;
        margin-right: auto;
    }

    #circle {
        width: 3.125;
        height: 3.125;
        margin-left: auto;
        margin-right: auto;
    }

    #circle-text {
        font-size: 16px;
        line-height: 3.125rem;
    }

    .detail-img {
        border-radius: 50%;
        width: 1.563rem;
        width: 1.563rem;
    }

    .detail-text {
        font-size: 10px;
        max-width: 6.25rem;
        text-align: center;
        
    }

    .top-left {
        align-items: end;
    }

    .top-right {
        float: right;
    }

    .corner1 {
        margin-top: 0.9rem;
    }
}

@media screen and (max-width: 321px) {
    .info .title {
        font-size: 25px;
    }
    .info .description {
        font-size: 16px;
        text-indent: 2rem;
    }
    .fakegrid .left-side,
    .fakegrid .right-side {
    padding-left: 0.2rem;
    padding-right: 0
    }

    .items-div {
        width: 15.625;
    }
    .method-info {
        font-size: 0.813rem;
    }
    .method-number {
        margin-right: 1rem;
    }
    .slide2 .title {
        margin-top: 4.5rem;
    }
}